:root {
    --raw-bg-color: 0, 0, 0;
    --high-bg-color: 3, 218, 198;
    --high-default-color: 132, 132, 132;
    --high-default-outline-color: 132, 132, 132;
}

html {
    background-color: #212121;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height:80vh;
}

.DataParent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 100%;
}

.Summary {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}

.SummaryView {
    background-color: #2E2E2E;
    color: #E2E2E2;
    padding: 2em 3em 2em 3em;
    margin: 1em 1em 0em 1em;
    border-radius: 0.3em;
    min-height: 75vh;
    max-height: 75vh;
    width: 50%;
    flex-direction: column;
    position: relative;
}

.SummaryTitleContainer{
    padding: 0em;
    margin: 0em;
    width: 100%;
    margin-bottom: 1em;
}

.SummaryTitle {
    font-size: 17px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: normal;
    float: left;
    color: #8B8B8B;  
}

.InfoDisplayLabel{
    font-size: 17px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: normal;
    color: #8B8B8B;  
    float: right;
}

.InfoDisplayValue{
    color: #BB86FC;
}

.MainDataSegments {
    overflow-y: auto;
    max-height: 64vh;
    text-align: justify;
    padding-right: 1em;
}

.DetailDataSegments{
    text-align: justify;
    padding-top: 0.5em;
}

.SegmentText {
    transition-property: color 1s;
    line-height: 1.3em;
}

.DetailDataSegments > span > .SegmentText {
    font-size: 1.25em;
}

.MainDataSegments > span > .SegmentText{
    font-size: 1.5em;
}

.MainDataSegments > span > .SegmentText:hover{
    color: #03dac583;
    cursor: pointer;
}

.DetailView {
    background-color: #2E2E2E;
    color: #E2E2E2;
    padding: 1em;
    margin: 1em 1em 0em 1em;
    border-radius: 0.3em;
    min-height: 75vh;
    max-height: 75vh;
    width: 50%;
    overflow-y: scroll;
}

.data {
    overflow-y: auto;
    min-height: 2em;
}

.DetailModal {
    background-color: #2E2E2E;
    color: #E2E2E2;
    padding: 1em 1em 1em;
    border-radius: 0.3em;
    position: relative;
}

.DetailModal > .ColumnHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.DetailModal > .ColumnHeader > .ColumnTitleContainer { 
    padding: 0;
    margin: 0;
}

.DetailModal > .ColumnHeader > .ColumnTitleContainer > .ColumnTitle {
    font-size: 17px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: normal;
    float: left;
    color: #8B8B8B;
}

.DetailModal > .ColumnHeader > .AudioSegment > .AudioSegmentPlayerContainer{
    float: right;
}

.AudioSegment {
    float: right;
}

.TitleViewContainer {
    min-width: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.3fr;
    max-height: 10vh;
    min-height: 10vh;
    background-color: #272727;
    color: #E2E2E2;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
}

.TitleViewImageContainer {
    max-height: 130px;
    max-width: 130px;
}

.TitleViewImage {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.TitleViewTextContainer {
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.TitleViewSubtitle {
    font-size: 0.7vw;
    text-transform: uppercase;
}

.TitleViewTitle{
    font-size: 1vw;
    padding: 0.4em 0em 0.4em 0em;
}

.TitleViewDate{
    font-size: 0.65vw;
}

.SummaryView .selected { color: rgba(var(--high-bg-color), 1); }

.temporal {
    min-width: 95%;
    max-width: 95%;
    position: absolute;
    bottom: 1vh;
    left: 2vh;
}

.temporal .row {
    display: flex;
    flex-flow: row;
}

.temporal .startTimestamp {
    width: auto;
    margin-right: 10px;
}

.temporal .endTimestamp {
    width: auto;
    margin-left: 10px;
}

.temporal .raw, .temporal .high, .temporal .med, .temporal .low {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    width: 100%;

    margin-bottom: 0.25rem;
}

.temporal .item {
    border: 1px solid rgba(var(--raw-bg-color), 0.5);
    background-color: rgba(var(--raw-bg-color), 0.1);
    cursor: pointer;
    opacity: 0.5;
    transition: ease-in-out 0.4s opacity;

    display: flex;
    flex-basis: 100%;
    height: 1.5rem;
}

.temporal .item:hover {
    opacity: 0.75;
}

.temporal .item.selected {
    opacity: 1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
background: #2E2E2E;
}

*::-webkit-scrollbar-thumb {
background-color: #404040;
border-radius: 20px;
border: 3px solid #404040;
}

.temporal .high .item { border: 1px solid rgba(var(--high-default-color), 0.5); background-color: rgba(var(--high-default-color), 0.1); }
.temporal .high .item.selected { border: 1px solid rgba(var(--high-bg-color), 0.5); background-color: rgba(var(--high-bg-color), 0.4); }
