html {
    background-color: #212121;
}

.Parent {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

.SummaryView {
    background-color: #2E2E2E;
    color: #E2E2E2;
    padding: 2em;
    margin-top: 1em;
    border-radius: 0.3em;
    margin-right: 1em;
}

.SummaryView .data{
    margin: 1em 0em 1em 0em;
}

.data {
    display: inline;
}

.DetailModal {
    background-color: #2E2E2E;
    color: #E2E2E2;
    padding: 2em;
    margin-top: 1em;
    border-radius: 0.3em;
}